*{
    font-family: "Cambria Math", serif;
}

#result{
    border: 3px solid black;
    border-radius: 15px;
    background: wheat;
    padding: 10px 10px;
    margin: 10px 10px 40px 10px;
    font-size: 30px;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.container{
    display: grid;
    height: 600px;
    width: 400px;
    border: 3px ridge black;
    border-radius: 15px;
    background-color: #cf9f00;
}
button:hover{
    background-color: rgba(245,222,179,0.75);
}

button:active{
    background-color: rgba(245,222,179,0.65);
}
button, div.buttons{
    user-select: none;
}

button{
    height: 80px;
    width: 80px;
    font-size: 20px;
    border: 3px solid black;
    border-radius: 15px;
    cursor: pointer;
    background-color: rgba(245,222,179,1);
    margin: 2%;
}

body{
    background: linear-gradient(225deg, rgba(12, 9, 71, 0.92) 5%, rgba(18,9,121,1) 29%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}